.checkout_label {
    background: url("../../images/Label Images/cart label.jpg");
    color: white;
}

.checkout_title{
    margin-left: 46%;
}

.title{
    font-size: 30px;
    text-align: right;
}


.checkout_page {
    display: flex;
    justify-content: center;
}

.checkout_home{
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.checkout_name {
    margin-left: 10px;
    font-size: 16px;
}

.coupon_noti{
    display: flex;
    text-align: left;
    height: 60px;
    width: 60%;
    border-collapse: separate;
    border-radius: 5px;
    margin: 40px auto;
    background-color: #fafafa;
    border-top: 4px solid #27ae61;
}

.check-icon {
    color: #27ae61;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 30px;
}

.coupon {
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    height: 100px;
    width: 60%;
    padding: 20px 0px;
}

.button {
    background-color: #27ae61;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.input-text {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 30px;
    padding: 5px 12px;
    width: 50%;
}

.delivery_info {
    display: flex;
    width: 60%;
    margin: 10px auto;
}

.delivery_info div{
    flex-basis: 50%;
}

.half_section {
    display: flex;
}

.half_input{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.half_input label{
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
}

.notice {
    color: red;
    margin-left: 5px;
}

.info_name{
    margin-right: 60px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.full-type {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    width: 90%;
}

.full-type label{
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
}

.full_input {
    margin-right: 60px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.half{
    width: 80%;
}

.note_info{
    display: flex;
    flex-direction: column;
}

.note_info label{
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
}

.note_input{
    height: 40px;
}

.order_info{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
}

.table_order{
    border: 1px solid rgba(0, 0, 0, .1);
}

.table_title{
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.table_title h4{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    flex-basis: 15%;
}

.product-items{
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-top: 10px;
}

.product-items div{
    flex-basis: 50%;
}

.product{
    display: flex;
}

.book_name{
    margin-left: 20px;
}
.quantity_text{
    margin-left: 10px;
    font-weight: 600;
}

.product_price {
    display: flex;
    margin-left: 30px;
}

.currency {
    margin-left: 5px;
    font-weight: 600;
}

.total{
    height: 50px;
    display: flex;
}

.total div{
    flex-basis: 50%;
}

.title_sum {
    margin-left: 20px;
}

.price_total{
    display: flex;
    margin-left: 10px;
}

.payment{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #dedede;
    margin: 10px auto;
    border-radius: 5px;
}

.option {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.method{
    display: flex;
    margin-left: 10px;
    width: 20%;
}

.method p{
    margin-top: 10px;
    margin-left: 5px;
}

.order_button{
    background-color: #27ae61;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-left: 88%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shipping_fee{
    display: flex;
}

.shipping_fee p{
    font-weight: bold;
    margin-left: 65px;
    flex-basis: 50%;
}

.first_title{
    margin-left: 140px;
}

.total_price_title{
    margin-left: 40px;
}

.price{
    font-weight: bold;
    margin-left: 50px;
}

.item_cart{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
}

.col-2{
    margin-left: 20px;
}

