* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-bar {
    background-color: #F5F5F5;
    color: #999999;
    line-height: 42px;
    font-size: 10px;
    height: auto;
}
.top-bar-icon {
    color: #27ae61;
    font-size: 14px;
    margin-right: 5px;
}
.top-bar-icon + .top-bar-icon {
    margin-left: 10px;
}
.menu> .menu-item {
    display: inline-block;
}
.menu .menu-item a {
    color: #999999;
    padding: 0 10px;
    border-right: 1px solid #27ae61;
    display: inline-block;
    line-height: 1;
    border-radius: 0px;
    text-transform: capitalize;
    font-size: 12px;
    text-decoration: none;
    /*transition: color 0.1s ease-in 0s;*/
    outline: none;
}
.header {
    padding: 20px 0;
}
.logo img {
    height: max-content;
    width: max-content;
}
.main-menu {
    background: #27ae61;
    color: #ffffff;
    font-family: Roboto Slab;
    /*font-size: 13px;*/
}
.main-menu .menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}
.main-menu .menu .menu-item {
    padding: 10px 10px;
}
.drop-down {
    position: relative;
    display: inline-block;
}
.drop-down p {
    display: block;
    height: content-box;
    margin-bottom: 0;
}
.drop-down-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    color: #262626;
    background-color: white;
    padding: 30px 45px;
}
.show-drop-down:hover .drop-down-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
}
.parent-cat {
    padding: 5px 20px;
    font-size: 15px;
    background: transparent;
    color: #323232;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #27ae61;
    vertical-align: top;
}
.sub-cat {
    list-style: none;
    padding-left: 0;
}
.sub-cat .sub-cat-item {
    line-height: 40px;
    border-bottom: 1px solid #e5e5e5;
}
.icon-cart {
    position: relative;
    font-size: 25px;
    width: max-content;
}
.icon-cart[data-count]:after {
    content: attr(data-count);
    position: absolute;
    top: 5px; /* Điều chỉnh vị trí theo nhu cầu */
    right: -10px; /* Điều chỉnh vị trí theo nhu cầu */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1;
    min-width: 18px; /* Đảm bảo hình tròn nếu là số đơn */
    text-align: center;
    display: inline-block;
}
.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input{
    padding: 10px 0;
    text-indent: 30px;
    border: 2px solid #d6d4d4;


}
.search input:focus{

    box-shadow: none;
    /*border: 2px solid blue;*/


}
.search .icon-search{
    position: absolute;
    top: 35%;
    left: 10px;
}
.search button{

    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    margin: 0px;
    width: min-content;
    background: #27ae61;

}