* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-view-image {
    padding: 5px 20px;
}
.product-view-image img {
    width: 100%;
}
.quantity-control {
    display: flex;
    align-items: center;
}
.quantity-control > div {
    width: 200px;
}
.btn-quantity {
    margin-top: 0px !important;
    width: min-content !important;
}
.title {
    text-align: left !important;
}
.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
}

.icon-hover:hover i {
    color: #3b71ca !important;
}
.btn-group {
    display: flex;
    width: 100%;
    gap: 10px;
}
